<ol class="breadcrumb">
    <li title="Home">
        <a id="ember724" href="/" class="ember-view active">Home</a>
    </li>
    <li class="breadcrumb-separator">/</li>
    <% @item.parent_community_list.each do |parentComm| %>
        <li><%=link_to parentComm.name, community_path(parentComm.id)%></li>
        <li class="breadcrumb-separator">/</li>
    <%end%>
    <li><%= link_to @item.parent_collection.name, collection_path(@item.parent_collection.id) %></li>
    <li class="breadcrumb-separator">/</li>
    <%= @item.name %>
</ol>
<h1><%= @item.name %></h1>

METADATA
<ul>
<% @item.metadata.each do |meta| %>
    <li><%= meta.key + ": " + meta.value %></li>
<%end%>
</ul>
<br>

BITSTREAMS
<ul>
<% @item.bit_streams.each do |bitstream| %>
    <!-- TODO: proper url -->
    <li><%= link_to(bitstream.name, Rails.application.config.dspace_rest_url + bitstream.retrieve_link) + " " + bitstream.format + " " + bitstream.bundle_name%></li>
<%end%>
</ul>
