<ol class="breadcrumb">
    <li title="Home">
        <a id="ember724" href="/" class="ember-view active">Home</a>
    </li>
    <li class="breadcrumb-separator">/</li>
    <% if @community.parent_community %>
        <li><%=link_to @community.parent_community.name, community_path(@community.parent_community.id)%></li>
        <li class="breadcrumb-separator">/</li>
    <%end%>
    <%= @community.name %>
</ol>
<h1><%= @community.name %></h1>
<br>

COLLECTIONS
<ul>
<% @collections.each do |collection| %>
    <li><%= link_to collection.name, collection_path(collection.id) %></li>
<%end%>
</ul>
<br>

SUB-COMMUNITIES
<ul>
<% @subCommunities.each do |subcomm| %>
    <li><%= link_to subcomm.name, community_path(subcomm.id)%></li>
<%end%>
</ul>
<br>

PARENT COMMUNITY
<% if @community.parent_community.present? %>
    <%= link_to @community.parent_community.name, community_path(@community.parent_community.id) %>
<%else%>
    None
<%end%>